.grid {
  display: grid;
  height: auto;

  // TRACKS
  // Naming grid lines
  grid-template-rows: [header-start] 100px [header-end main-start] 400px [main-end footer-start] 100px [footer-end];

  // GAP
  grid-gap: 3.2rem;
}

.header {
  background-color: orange;
  grid-row: header-start/ header-end;
}

.main {
  grid-row: main-start / main-end;
  margin: 0 auto;
  width: 90%;
}

.footer {
  background-color: var(--bg-footer);

  grid-row: footer-start/ footer-end;
}
