:root {
  // Backgrounds and CTA
  --bg-color: #f2f2f2;
  --bg-footer: #3a5342;
  --primary-cta: #e64426;

  // Text color
  --body-copy--dark: #171717;
  --body-copy--light: #fbfbfb;
  --dark-gray: #34393c;
  --light-gray: #707070;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--body-copy);
  margin: 0;
  padding: 0;

  user-select: none;

  height: 100%;
  width: 100%;
}
