// Header
.hero {
  // TEXT
  &__primary-heading {
    // border: 3px solid #fff;
    color: currentColor;
    font-family: "Gelasio", serif;
    font-size: 11rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__secondary-heading {
    // border: 3px solid #fff;
    color: currentColor;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    margin-left: 8px;
  }
}

// Headings
.heading__secondary {
  color: var (--body-copy--dark);
  font-family: inherit;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}

.heading__tertiary {
  color: rgb(70, 70, 70);
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

// Overall paragraph style
p {
  color: var (--body-copy--dark);
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

// Text

.text-sm {
  font-size: 2.2rem;
}

.text-md {
  font-size: 3.2rem;
}

.bold {
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 2px;
}

// Alignment
.center {
  text-align: center;
}

.left {
  text-align: left;
}

// Width
.w-75 {
  width: 75%;
}

// Margins
// M-TOP
.mt-xxl {
  margin-top: 8rem;
}

// M-BOTTOM
.mb-xs {
  margin-bottom: 8px;
}

.mb-sm {
  margin-bottom: 1.6rem;
}

.mb-md {
  margin-bottom: 2.4rem;
}

.mb-lg {
  margin-bottom: 3.2rem;
}

.mb-xl {
  margin-bottom: 4.8rem;
}

.mb-xxl {
  margin-bottom: 8rem;
}
